<div class="container-fluid">
<table class="table">
	<tr>
		<th><h3><%= @date %></h3></th>
	</tr>

<% @trends.each do |trend| %>
	<% if trend.tweets.count > 0 %>
		<tr>
			<td><b><%= trend.name %></b></td>
			<td><%= trend.created_at.in_time_zone("EST").strftime('%l'':''%M'' ''%p')%></td>
		</tr>
		<% x = 0 %>
		<% while x < 3 %>
			<% if trend.tweets[x] %>
			<% trend.tweets[x] %>
			<% source = @newssources.where("screen_name = ?", trend.tweets[x].screen_name).all.to_a.map(&:serializable_hash) %>
			<% avatar = source[0][:profile_image_url] %>
				<tr>
					<td><%= image_tag avatar %> <%= trend.tweets[x].screen_name %>: <%= trend.tweets[x].text %></td>
					<td></td>
				</tr>
			<% end %>
			<% x += 1 %>
		<% end %>
	<% end %>
<% end %>
</table>
</div>