<div class="container-fluid">
<table class="table">
	<tr>
		<th><h3><%= @date %></h3></th>
	</tr>

<% @trends.each do |trend| %>
	<tr>
		<td><b><%= trend.name %></b></td>
		<td><%= trend.created_at.strftime('%l'':''%M'' ''%p')%></td>
	</tr>
	<% unless trend.tweets.count = 0 trend.tweets.each do |tweet| %>
	<tr>
		<td><%= tweet.screen_name %>: <%= tweet.text %></td>
		<td></td>
	</tr>
	<% end %>
<% end %>
</table>
</div>