<div class="container-fluid">
<table class="table">
	<tr>
		<th><h3><%= @date %></h3></th>
	</tr>

<% @trends.each do |trend| %>
	<tr>
		<td><%= trend.created_at.strftime('%l'':''%M'' ''%p')%>  <b><%= trend.name %></b></td>
		<td></td>
	</tr>
	<% trend.tweets.each do |tweet| %>
	<tr>
		<td><%= tweet.text %></td>
		<td><%= tweet.screen_name %></td>
	</tr>
	<% end %>
<% end %>
</table>
</div>